Q1. Create one variable containing following type of data:

In [ ]:
s = "Hello World"
type(s)

In [ ]:
l = [1,2,3,4,5,True,"Hello World",2.5]
type(l)

In [ ]:
f = 2.5
type(f)

In [ ]:
t = (1,)
type(t)

Q2. Given are some following variables containing data:

In [ ]:
var1 = ' '  #It is a string

In [ ]:
var2 = '[DS,ML,python]' # It is a String

In [ ]:
var3 = ['DS','ML','python'] # It is a list

In [ ]:
var4 = 1 # It is a int(integer)

Q3. Explain the use of the following operators using an example:

In [ ]:
# / --> It is used to divide a first number with the second number.Below is the example
a = 10
b = 5
a/b

In [ ]:
# % --> It is modulus. It returns the remainder.Below is the example
a = 4
b = 2
a%b

In [ ]:
# // --> It is floor division. It rounds the nearest whole divison
a = 4
b = 2
a//b

In [ ]:
# ** --> It returns the square of a number.
a = 2
b = 5
a**b #In this a is number and b is used as a square of a

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
a = [1,2,3,4,5,6,7,8.0,True,"Hello"]
for i in a:
    print(i,"--->",type(a))

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
a = 4
b = 2
count = 0
while a%b==0:
    a = a/b
    count = count + 1
if count > 0:
    print("It is divisible", count,"times")
else:
    print("It is not divisble")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
lis = []
for i in range(1,26):
    lis.append(i)
    if i%3==0:
        print(i)
    else:
        None

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
# Mutable --> It means we can add element, change the element and also access the element.
a = [1,2,3,4,5]
print(a[1] = 200)

In [ ]:
# Immutable --> It means we cannot modify and add element element
a = "Hello"
print(a[1]="a") # It will throw error